/* BNavbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  transition: max-height 0.3s ease;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #ff4081;
}

/* toggle */
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
    overflow: hidden;
    max-height: 0;
  }

  .menu.active {
    display: flex;
    max-height: 500px;
  }

  .menu li {
    margin: 0;
  }

  .menu li a {
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
  }
}