---
import '../styles/global.css';
title: 'Blog'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bl0g</title>
  <link rel="stylesheet" href="/src/styles/global.css">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f4f4f4;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:hover {
      background-color: #f1f1f1;
    }
    .image-container {
      margin-top: 20px;
      text-align: center;
    }
    .image-container img {
      max-width: 50%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>
  <div class="container">
    <h1>1. Push-Pull Training</h1>
    <table>
      <thead>
        <tr>
          <th>Day</th>
          <th>Training</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monday</td>
          <td>Push</td>
          <td>Chest, Shoulder, Trizeps</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>FREE</td>
          <td></td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>Legs</td>
          <td>Legs, Core</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>FREE</td>
          <td></td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>Pull</td>
          <td>Back, Bizeps</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>Regenerationrun</td>
          <td>easy going</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>FREE</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="image-container">
        <img src="/khabib.jpeg" alt="goat" class="pic">
    </div>
    <div class="container">
        <h1>2. Astro Learning Blog</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
          <li><a href="/posts/post-1/">Intro</a></li>
          <li><a href="/posts/post-2/">Next Step</a></li>
        </ul>
    </div>
</div>
  <footer>
    <p>&copy; 2024 My Awesome Blog. All Rights Reserved.</p>
  </footer>
</body>
</html>