---
title: 'Blog'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AstroBl0g</title>
  <link rel="stylesheet" href="/src/styles/global.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>
  <div class="container">
    <h1>Forza is feddich runtergeladen, wolln ma ne Runde starten?</h1>
    <p>1234</p>
  </div>
  <footer>
    <p>&copy; Offline. All Rights Reserved.</p>
  </footer>
</body>
</html>