---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Nav from '../components/Nav.astro';

const pageTitle = "Home";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pageTitle}</title>
  <link rel="stylesheet" href="src/styles/global.css">
</head>
<body>
	<Nav />
  <div class="container">
    <h1>Billie Jean</h1>
    <p>She was more like a beauty queen from a movie scene<br>
		I said don't mind, but what do you mean, I am the one<br>
		Who will dance on the floor in the round?<br>
		She said I am the one, who will dance on the floor in the round<br>
		She told me her name was Billie Jean, as she caused a scene<br>
		Then every head turned with eyes that dreamed of being the one<br>
		Who will dance on the floor in the round<br>
		People always told me be careful of what you do<br>
		And don't go around breaking young girls' hearts<br>
		And mother always told me be careful of who you love<br>
		And be careful of what you do 'cause the lie becomes the truth<br>
		Billie Jean is not my lover<br>
		She's just a girl who claims that I am the one<br>
		But the kid is not my son<br>
		She says I am the one, but the kid is not my son<br>
		For forty days and forty nights<br>
		The law was on her side<br>
		But who can stand when she's in demand<br>
		Her schemes and plans<br>
		'Cause we danced on the floor in the round<br>
		So take my strong advice, just remember to always think twice<br>
		(Do think twice, do think twice)<br>
		She told my baby we'd danced 'til three, then she looked at me<br>
		Then showed a photo my baby cried his eyes were like mine (oh, no)<br>
		'Cause we danced on the floor in the round, baby<br>
		People always told me be careful of what you do<br>
		And don't go around breaking young girls' hearts<br>
		She came and stood right by me<br>
		Just the smell of sweet perfume<br>
		This happened much too soon<br>
		She called me to her room<br>
		Billie Jean is not my lover<br>
		She's just a girl who claims that I am the one<br>
		But the kid is not my son<br>
		Billie Jean is not my lover<br>
		She's just a girl who claims that I am the one<br>
		But the kid is not my son<br>
		She says I am the one, but the kid is not my son<br>
		She says I am the one, but the kid is not my son<br>
		Billie Jean is not my lover<br>
		She's just a girl who claims that I am the one<br>
		But the kid is not my son<br>
		She says I am the one, but the kid is not my son<br>
		She says I am the one<br>
		You know what you did, (she says he is my son) breaking my heart babe<br>
		She says I am the one<br>
		Billie Jean is not my lover<br>
		Billie Jean is not my lover<br>
		Billie Jean is not my lover<br>
	</div>
	<Footer />
	<script>
		import "../scripts/menu.js";
	</script>
</body>
</html>
</body>
</html>