---
import Social from './social.astro';
---

<footer>
    <Social platform="twitter" username="offline600" />
    <Social platform="github" username="offline500" />
    <Social platform="youtube" username="astrodotbuild" />
  <p>&copy; Offline. All Rights Reserved.</p>
</footer>