<label for="menu-toggle" class="menu-icon">
    <span class="navicon"></span>
    <span class="navicon"></span>
    <span class="navicon"></span>
  </label>
  
  <style>
  .menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .menu-icon .navicon {
    background-color: #fff;
    display: block;
    height: 2px;
    width: 24px;
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: flex;
    }
  
    
    .menu-icon.active .navicon:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .menu-icon.active .navicon:nth-child(2) {
      opacity: 0;
    }
  
    .menu-icon.active .navicon:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  </style>