---
import '../styles/nav.css';
import Hamburger from './Hamburger.astro';
---

<nav class="navbar">
  <div class="logo">
    <a href="/">😊</a>
  </div>
  <input type="checkbox" id="menu-toggle" class="menu-toggle">
  <Hamburger />
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>